:root {
    --main-green-color: #197056;
    --main-text-color: #333;

}

::selection {
    background-color: var(--main-green-color);
    color: white;
}

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

/* utility classes */

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}

li {
    list-style: none;
}

.btn {
    text-transform: uppercase;
    font-weight: 600;
    padding: 12px 28px;
    border: none;
    border: 1px solid var(--main-green-color);
    background-color: var(--main-green-color);
    color: white;
    cursor: pointer;
}

/* Main styling */

header {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.884);
    z-index: 99;
}

.top-header {
    border-bottom: 1px solid rgba(128, 128, 128, 0.562);
}

.top-header-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 120px;
    height: 35px;
}

.top-header-left-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
}

.left-header-link-sec {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

a.left-header-link {
    font-size: 11px;
    text-transform: uppercase;
}

.vertical-line {
    height: 15px;
    width: 1px;
    background-color: rgba(128, 128, 128, 0.562);
}

.top-header-right-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 50px;
}

.link-right-sec {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}

.right-header-link {
    font-size: 11px;
    letter-spacing: .5px;
    color: rgba(0, 0, 0, 0.678);
}

.top-header-right-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}

.flag-sec {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5px;
}

.bottom-header {
    border-bottom: 1px solid rgba(128, 128, 128, 0.562);
}

.bottom-header-content {
    height: 55px;
    display: flex;
    justify-content: flex-start;
    column-gap: 130px;
    align-items: center;
}

.bottom-header-right-sec {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 110px;
}

.bottom-header-link-sec {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}

.bottom-header-link-sec a {
    font-size: 12px;
    text-transform: uppercase;
}

.bottom-header-icon-sec {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 12px;
}

.bottom-verticle-line {
    height: 30px;
    width: 1px;
    background-color: rgba(128, 128, 128, 0.562);
}

svg {
    cursor: pointer;
}

.bottom-header .btn {
    margin-left: 10px;
}

.btn:hover {
    border: 1px solid var(--main-green-color);
    color: var(--main-green-color);
    background-color: white;
    transition: all .5s ease;
}

/* Hero Section */

.hero-section {
    width: 100%;
    padding: 50px 0;
}

.hero-section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-sec-left {
    animation-name: left-sec;
    animation-duration: 1s;
}

.hero-sec-left h5 {
    width: 480px;
    font-size: 26px;
    text-transform: uppercase;
    color: var(--main-green-color);
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.562);
    margin-bottom: 30px;
}

.hero-sec-left h3 {
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.hero-sec-left div {
    font-size: 32px;
    color: var(--main-green-color);
    margin-bottom: 30px;
}

.hero-sec-right {
    width: 48%;
}

.hero-sec-right img {
    animation-name: right-sec;
    animation-duration: 1s;
    width: 100%;
}

@keyframes left-sec {
    from {
        transform: translateX(-300px);
        opacity: 0;
    }

    to {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes right-sec {
    from {
        transform: translateX(300px);
        opacity: 0;
    }

    to {
        transform: translate(0);
        opacity: 1;
    }
}

/* Icon Section */

.icon-section {
    width: 100%;
}

.icon-sec-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 15%;
    position: relative;
    padding: 25px 10px;
    height: 80px;
    overflow-y: hidden;
    border: 1px solid rgba(128, 128, 128, 0.562);
    cursor: pointer;
    transition: all .5s ease;
}

.card-4,
.card-6 {
    padding: 15px 10px;
}

.card:hover {
    background-color: var(--main-green-color);
    color: white;
}

.card-text {
    width: 50%;
    font-size: 15px;
    text-transform: uppercase;
}

.card .icon {
    position: absolute;
    top: -20px;
    right: 0;
}

.third-section {
    width: 100%;
    padding: 120px 0;
}

.third-sec-content h2 {
    text-align: center;
    font-size: 52px;
    font-weight: 100;
    color: #333;
    margin-bottom: 30px;
}

.third-sec-link-sec {
    width: 210px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    border-bottom: 1px solid #333;
}

.third-sec-link-sec a {
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 20px;
}

.third-sec-link-sec a:nth-child(1) {
    border-bottom: 2px solid var(--main-green-color);
    color: var(--main-green-color);
}

.third-sec-main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.third-sec-left {
    width: 48%;
}

.third-sec-left img {
    width: 100%;
}

.third-sec-right {
    width: 38%;
}

.third-sec-right h4 {
    width: 175px;
    color: var(--main-green-color);
    font-size: 28px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(128, 128, 128, 0.562);
    margin-bottom: 30px;
}

.third-sec-right div {
    width: 300px;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: lighter;
    margin-bottom: 40px;
    color: #333;
}

.fourth-section {
    width: 100%;
    padding-bottom: 100px;
}

.fourth-sec-content .fourth-sec-big-txt {
    font-size: 52px;
    text-transform: uppercase;
    text-align: center;
}

.fourth-card-sec-main {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}


.fourth-card-left {
    width: 20%;
    margin-right: 80px;
}

.fourth-card-left div {
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.fourth-card-right {
    overflow-x: scroll;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    column-gap: 20px;
    border-bottom: 5px solid rgba(128, 128, 128, 0.596);
}

.fourth-card-right::-webkit-scrollbar {
    width: 0;
}

.fourth-card-img-sec {
    width: 260px;
    position: relative;
    cursor: pointer;
}

.fourth-card-img-sec img:hover {
    transform: scale(1.08);
}

.fourth-card-img-sec img {
    width: 255px;
    transition: transform .5s ease;
}

.fourth-card-img-txt {
    position: absolute;
    bottom: 13%;
    left: 5%;
    color: white;
}

.fourth-card-big-txt {
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 5px;
}

.fourth-card-small-txt {
    font-size: 14px;
}

.fifth-section {
    width: 100%;
    padding-bottom: 100px;
}

.fifth-sec-heading {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 52px;
    margin-bottom: 60px;
}

.fifth-sec-link-sec {
    width: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.596);
}

.fifth-sec-link-sec a {
    width: 45%;
    padding-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.fifth-sec-link-sec a:nth-child(1) {
    color: var(--main-green-color);
    border-bottom: 3px solid var(--main-green-color);
}

.fifth-card-sec-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fifth-card-left {
    width: 60%;
    overflow-x: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(128, 128, 128, 0.596);
}

.fifth-card-left::-webkit-scrollbar {
    width: 0;
}

.fifth-card {
    text-align: center;
}

.fifth-card img {
    width: 220px;
    margin-bottom: 15px;
    cursor: pointer;
}

.fifth-card .btn {
    font-weight: lighter;
    font-size: 14px;
    padding: 10px 26px;
}

.fifth-card-right {
    width: 35%;
}

.fifth-card-right img {
    width: 100%;
}